<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for using Jungle!</h1>
    <p>
      You have successfully placed an order to Jungle!
      <br>
    </p>
    <p>
      Find details about your order in your Jungle
    </p>
    <p>Thanks for your order and have a great day!</p>
  </body>
</html>